footer{
  background-color: black;
}

footer .row{
  justify-content: space-between;
}

footer .col{
  flex-direction: column;
  width: 150px;
  height: 300px;
  color: white;
}

footer .col ul li{
  list-style: none;
  padding-bottom: 5px;
}

footer a{
  color: white;
  font-size: 15px;
}

.col:first-child{
  border-bottom: 1px solid white;
}

footer .language{
color: #999999;  
}

.language span{
  font-size: 14px;
  cursor: pointer;
}