/* START General */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Open Sans', sans-serif;
}

a{
  color: black;
  text-decoration: none;
}

h1{
  font-size: 90px;
}

h2{
  font-size: 48px;
}

h3{
  font-size: 34px;
}

h4{
  font-size: 28px;
}

h5{
  font-size: 22px;
}

h6{
  font-size: 18px;
}
/* END General */

/* START Button library */
.btn{
  margin-right: 20px;
  padding: 8px 20px;
  border: none;
  border-radius: none;
  background-color: #0061FF;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: all .5s;
}

.btn:hover{
  background-color: #0062ffd7;
}

.btn.col-btn{
  font-size: 16px;
}

.btn.white{
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 16px;
  font-weight: 400;
}

.btn.white:hover{
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.btn.borderless{
  border: none;
  width: 100%;
}
/* END Button library */