header{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: white;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
}

header .flex{
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.header-left li{
  margin-left: 50px;
}

.header-left{
  justify-content: center;
  align-items: center;
}

header ul li{
  display: inline-block;
  height: 80px;
  list-style: none;
}

header ul li a{
  display: inline-block;
  height: 100%;
  line-height: 80px;
}

header ul li a:hover{
  border-bottom: 2px solid black;
}

.header-right li{
  margin-right: 50px;
}