main{
  padding-top: 300px;
}

/* Section Plans */
#section-plans::before{
  content: '';
  display: block;
  height: 80px;
  margin: -80px 0 0 ;
}

.section-title span{
  margin-right: 20px;
}

#circle-selected{
  color: #0061FF;
  border-radius: 50%;
  border: 4px solid #0061FF;
}

.row.flex{
  justify-content: space-between;
}

#section-plans .row .col{
  width: calc(100%/3.5);
  height: 1000px;
  border: 1px solid #D0D0D3;
}

.circle{
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid grey;
}

.circle.selected{
  border: 4px solid #0061FF;
}

.col-title{
  height: 50px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #D0D0D3;
}

.col-content{
  flex-direction: column;
  padding: 30px 20px;
  font-size: 14px;
}

.col-content .price{
  font-size: 16px;
}

.col-content .price-undertext{
  color: #83909B;
  font-weight: 600;
}

.plan-option ul{
  list-style: none;
}

li.icon::before{
  font-family: 'FontAwesome';
  margin-right: 5px;
  padding-top: 1px;
}

.icon.user::before{
  content: "\f234";
}

.icon.folder::before{
  content: "\f07b";
}

.icon.pencil::before{
  content: "\f303";
}

.icon.smile::before{
  content: "\f118";
}

.check > .icon::before{
  color: #0061FF;
  content: "\f00c";
}

.horizontal-row{
  width: 50px;
  border-bottom: 1px solid #D0D0D3;
}

.buy-now{
  color: #0061FF;
  text-decoration: underline;
}

.checkmark-blu{
  color: #0061FF;
}

.horizontal-card{
  border: 1px solid #D0D0D3;
}

.horizontal-card .horizontal-content{
  padding: 30px 30px;
}

.horizontal-content .horizontal-left{
  width: 70%;
}

.horizontal-content .horizontal-right{
  width: 30%;
}

.horizontal-right .btn.big{
  width: 100%;
  font-size: 16px;
}
/* /Section Plans */

/* Section Find Partner */
#find-partner {
  height: 550px;
}

#find-partner .find-partner-left{
  width: 50%;
}

#find-partner .find-partner-left img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#find-partner .find-partner-right{
  width: 50%;
}

#find-partner .find-partner-right p{
  line-height: 30px;
}
/* /Section Find Partner */

/* Section Features */
#features .row.flex{
  flex-wrap: wrap;
}

#features .col{
  width: calc(100%/3);
  min-width: 300px;
  flex-direction: column;
}
/* /Section Features */

/* Section Companies */
#companies a{
  text-decoration: underline;
  color: #0061FF;
}

.companies-container{
  height: 30vw;
}

.companies-container > .left-content, .companies-container > .right-content{
  width: 30vw;
}

.companies-container > .center-content{
  width: 40vw;
}

.companies-container .left-content.flex, .companies-container .right-content.flex{
  flex-wrap: wrap;
}

.company-card.flex{
  justify-content: center;
  align-items: center;
  width: calc(100%/2);
  height: calc(100%/2);
}

.company-card img{
  width: 60%;
  filter: invert(100%);
}

.company-card.active{
  border: 10px solid #D0E9CD;
}

.company-card.green-b{
  background-color: #A2D39B;
}

.company-card.violet-b{
  background-color: #61082B;
}

.company-card.cyan-b{
  background-color: #0093CE;
}

.company-card.red-b{
  background-color: #FF1C1C;
}

.company-card.crimson-b{
  background-color: #D5001F;
}

.company-card.lightgrey-b{
  background-color: #B4D0E7;
}

.company-card.blue-b{
  background-color: #0D2481;
}

.company-card.yellow-b{
  background-color: #FFD830;
}

.companies-container > .center-content{
  background-color: #F5F5F5;
  overflow: scroll;
  padding: 60px;
}

.companies-container > .center-content img{
  width: 30%;
  min-width: 80px;
}

#companies > .undertext{
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: #B4D0E7;
}

.undertext .small-container{
  align-items: flex-start;
  justify-content: space-between;
}

#companies > .undertext .left-content{
  width: 50%;
}

#companies > .undertext .left-content h2{
  color: #61082B;
}

#companies > .undertext .right-content{
  width: 30%;
}
/* /Section Companies */

/* Section Frequent Questions */
.question{
  border-top: 1px solid #D0D0D3;
}

.question.flex{
  flex-direction: column;
}

.shown.flex{
  flex-direction: row;
}

.question:last-child{
  border-bottom: 1px solid #D0D0D3;
}

.question h6{
  width: 95%;
}

.question i, .question .hidden.arrow{
  width: 5%;
  align-self: center;
}

.question .hidden{
  width: 80%;
  display: none;
}

.question:hover .hidden.text{
  display: block;
  color: #647381;
}

.question:hover .hidden.arrow{
  display: inline-block;
}

.question:hover .arrow-up{
  display: none;
}
/* /Section Frequent Questions */